USE [master]
GO
/****** Object:  Database [ExtApp]    Script Date: 03/27/2017 07:50:00 ******/
CREATE DATABASE [ExtApp] ON  PRIMARY 
( NAME = N'ExtApp', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ExtApp.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExtApp_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ExtApp_log.ldf' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExtApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExtApp]
GO
/****** Object:  Table [dbo].[AppLoginSession]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppLoginSession](
	[Guid] [nvarchar](255) NOT NULL,
	[UserID] [int] NULL,
	[LoginTime] [datetime] NULL,
	[LoginIP] [nvarchar](255) NULL,
	[Expire] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AppLoginSession] ([Guid], [UserID], [LoginTime], [LoginIP], [Expire]) VALUES (N'02ee37c5-285e-440c-b9e8-2ec8fb7bfa86', 1, CAST(0x0000A69A00C81B58 AS DateTime), N'localhost', 7200)
INSERT [dbo].[AppLoginSession] ([Guid], [UserID], [LoginTime], [LoginIP], [Expire]) VALUES (N'0357d8ff-2329-4d94-823c-6ac5c353f2df', 1, CAST(0x0000A69B015D680C AS DateTime), N'localhost', 7200)
INSERT [dbo].[AppLoginSession] ([Guid], [UserID], [LoginTime], [LoginIP], [Expire]) VALUES (N'0e18276f-2bd1-41a1-a070-f14d480ed1f1', 1, CAST(0x0000A69B015A9ADC AS DateTime), N'localhost', 7200)
/****** Object:  Table [dbo].[AppLog]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NULL,
	[Source] [int] NULL,
	[Level] [int] NULL,
	[UserID] [int] NULL,
	[AddTime] [datetime] NULL,
	[IP] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[Memo] [nvarchar](255) NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppLog] ON
INSERT [dbo].[AppLog] ([ID], [Type], [Source], [Level], [UserID], [AddTime], [IP], [Title], [Content], [Status], [Memo], [Comment]) VALUES (1, 0, 2, 3, NULL, CAST(0x0000A6A9016DBC20 AS DateTime), N'127.0.0.1', N'系统启动', N'', 0, N'', NULL)
INSERT [dbo].[AppLog] ([ID], [Type], [Source], [Level], [UserID], [AddTime], [IP], [Title], [Content], [Status], [Memo], [Comment]) VALUES (2, 1, 2, 3, NULL, CAST(0x0000A6A9016DCC88 AS DateTime), N'::1', N'用户admin登录成功！', N'', 0, N'', NULL)
INSERT [dbo].[AppLog] ([ID], [Type], [Source], [Level], [UserID], [AddTime], [IP], [Title], [Content], [Status], [Memo], [Comment]) VALUES (3, 0, 2, 3, NULL, CAST(0x0000A6A90170D900 AS DateTime), N'127.0.0.1', N'系统启动', N'', 0, N'', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[AppLog] OFF
/****** Object:  Table [dbo].[AppDept]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppDept](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[AddTime] [datetime] NULL,
	[Sort] [int] NULL,
	[Comment] [nvarchar](255) NULL,
	[HeadID] [int] NULL,
	[AddUserID] [int] NULL,
	[Type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppDept] ON
INSERT [dbo].[AppDept] ([ID], [PID], [Code], [Name], [Status], [AddTime], [Sort], [Comment], [HeadID], [AddUserID], [Type]) VALUES (3014, NULL, N'001', N'董事会', 1, CAST(0x0000A739007CCE00 AS DateTime), 1, NULL, NULL, NULL, 1)
INSERT [dbo].[AppDept] ([ID], [PID], [Code], [Name], [Status], [AddTime], [Sort], [Comment], [HeadID], [AddUserID], [Type]) VALUES (3015, 3014, N'001001', N'总经理办', 1, CAST(0x0000A739007E6378 AS DateTime), 1, NULL, NULL, NULL, 1)
INSERT [dbo].[AppDept] ([ID], [PID], [Code], [Name], [Status], [AddTime], [Sort], [Comment], [HeadID], [AddUserID], [Type]) VALUES (3017, 3014, N'001002', N'研发部', 1, CAST(0x0000A73A007EBB5C AS DateTime), 2, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[AppDept] OFF
/****** Object:  Table [dbo].[AppUser]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Sex] [int] NULL,
	[RoleID] [int] NULL,
	[DeptID] [int] NULL,
	[Status] [int] NULL,
	[Duty] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[FaceUrl] [nvarchar](255) NULL,
	[AddTime] [datetime] NULL,
	[Sort] [int] NULL,
	[Comment] [nvarchar](255) NULL,
	[Birthday] [datetime] NULL,
	[Address] [nvarchar](255) NULL,
	[isAdmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppUser] ON
INSERT [dbo].[AppUser] ([ID], [Username], [Password], [Name], [Sex], [RoleID], [DeptID], [Status], [Duty], [Phone], [Email], [FaceUrl], [AddTime], [Sort], [Comment], [Birthday], [Address], [isAdmin]) VALUES (1, N'admin', N'123', N'管理员', 1, 5, 3014, 1, N'系统维护', N'10086', N'930372551@qq.com', NULL, NULL, 1, NULL, CAST(0x0000806800000000 AS DateTime), N'重工', 0)
SET IDENTITY_INSERT [dbo].[AppUser] OFF
/****** Object:  Table [dbo].[AppRole]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[Memo] [nvarchar](255) NULL,
	[Code] [nvarchar](255) NULL,
	[Layer] [int] NULL,
	[Sort] [int] NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppRole] ON
INSERT [dbo].[AppRole] ([ID], [Name], [Status], [Memo], [Code], [Layer], [Sort], [Comment]) VALUES (5, N'超级管理员', 0, NULL, N'cjgly', 10, 0, NULL)
INSERT [dbo].[AppRole] ([ID], [Name], [Status], [Memo], [Code], [Layer], [Sort], [Comment]) VALUES (6, N'总经理', 0, NULL, N'zjl', 20, NULL, NULL)
INSERT [dbo].[AppRole] ([ID], [Name], [Status], [Memo], [Code], [Layer], [Sort], [Comment]) VALUES (7, N'测试', -1, NULL, N'cs', 30, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AppRole] OFF
/****** Object:  Table [dbo].[AppDeptRoleMenu]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppDeptRoleMenu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NULL,
	[Memo] [nvarchar](255) NULL,
	[DeptID] [int] NULL,
	[RoleID] [int] NULL,
	[MenuID] [int] NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppMenu]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppMenu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[PID] [int] NOT NULL,
	[UrlType] [int] NULL,
	[Url] [nvarchar](255) NULL,
	[IconType] [int] NULL,
	[Icon] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[Sort] [int] NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppMenu] ON
INSERT [dbo].[AppMenu] ([ID], [Name], [Code], [PID], [UrlType], [Url], [IconType], [Icon], [Status], [Sort], [Comment]) VALUES (1, N'系统管理', N'001', 0, 0, NULL, 1, N'Computer', 0, 5, NULL)
INSERT [dbo].[AppMenu] ([ID], [Name], [Code], [PID], [UrlType], [Url], [IconType], [Icon], [Status], [Sort], [Comment]) VALUES (2, N'权限管理', N'001001', 1, 0, NULL, 1, N'Userkey', 0, 30, NULL)
INSERT [dbo].[AppMenu] ([ID], [Name], [Code], [PID], [UrlType], [Url], [IconType], [Icon], [Status], [Sort], [Comment]) VALUES (3, N'系统菜单管理', N'001001001', 2, 1, N'App.view.authority.appMenu.List', 1, N'Applicationsidetree', 0, 20, NULL)
SET IDENTITY_INSERT [dbo].[AppMenu] OFF
/****** Object:  Table [dbo].[AppConfigSection]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppConfigSection](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Layer] [int] NULL,
	[Status] [int] NULL,
	[Memo] [nvarchar](255) NULL,
	[SectionID] [int] NULL,
	[Sort] [int] NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppConfigSection] ON
INSERT [dbo].[AppConfigSection] ([ID], [Name], [Layer], [Status], [Memo], [SectionID], [Sort], [Comment]) VALUES (1, N'组织机构配置', 1, 0, N'', NULL, NULL, NULL)
INSERT [dbo].[AppConfigSection] ([ID], [Name], [Layer], [Status], [Memo], [SectionID], [Sort], [Comment]) VALUES (2, N'用户配置', 2, 0, N'', NULL, NULL, NULL)
INSERT [dbo].[AppConfigSection] ([ID], [Name], [Layer], [Status], [Memo], [SectionID], [Sort], [Comment]) VALUES (3, N'权限配置', 3, 0, N'', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AppConfigSection] OFF
/****** Object:  Table [dbo].[AppDic]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppDic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Type] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[Memo] [nvarchar](255) NULL,
	[Sort] [int] NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppDic] ON
INSERT [dbo].[AppDic] ([ID], [Code], [Type], [Name], [Status], [Memo], [Sort], [Comment]) VALUES (1, N'LogType', 0, N'日志类型', 0, N'', NULL, NULL)
INSERT [dbo].[AppDic] ([ID], [Code], [Type], [Name], [Status], [Memo], [Sort], [Comment]) VALUES (2, N'LogSource', 0, N'日志来源', 0, N'', NULL, NULL)
INSERT [dbo].[AppDic] ([ID], [Code], [Type], [Name], [Status], [Memo], [Sort], [Comment]) VALUES (3, N'LogLevel', 0, N'日志等级', 0, N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[AppDic] OFF
/****** Object:  Table [dbo].[AppDicItem]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppDicItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DicID] [int] NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Layer] [int] NULL,
	[Status] [int] NULL,
	[Memo] [nvarchar](255) NULL,
	[Sort] [int] NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppDicItem] ON
INSERT [dbo].[AppDicItem] ([ID], [DicID], [Code], [Name], [Layer], [Status], [Memo], [Sort], [Comment]) VALUES (1, 3, N'Fatel', N'崩溃', 1, 0, N'', NULL, NULL)
INSERT [dbo].[AppDicItem] ([ID], [DicID], [Code], [Name], [Layer], [Status], [Memo], [Sort], [Comment]) VALUES (2, 3, N'Error', N'错误', 2, 0, N'', NULL, NULL)
INSERT [dbo].[AppDicItem] ([ID], [DicID], [Code], [Name], [Layer], [Status], [Memo], [Sort], [Comment]) VALUES (3, 3, N'Warn', N'警告', 3, 0, N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[AppDicItem] OFF
/****** Object:  Table [dbo].[AppConfig]    Script Date: 03/27/2017 07:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[ConfigKey] [nvarchar](255) NULL,
	[ConfigValue] [nvarchar](255) NULL,
	[Layer] [int] NULL,
	[Status] [int] NULL,
	[Memo] [nvarchar](255) NULL,
	[SectionID] [int] NULL,
	[Sort] [int] NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppConfig] ON
INSERT [dbo].[AppConfig] ([ID], [Name], [ConfigKey], [ConfigValue], [Layer], [Status], [Memo], [SectionID], [Sort], [Comment]) VALUES (1, N'用户初始密码', N'UserInitPwd', N'123', 1, 0, N'用户初始化密码', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AppConfig] OFF
/****** Object:  ForeignKey [FK__AppLoginS__UserI__31EC6D26]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppLoginSession]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[AppUser] ([ID])
GO
/****** Object:  ForeignKey [FK__AppLog__UserID__30F848ED]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppLog]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[AppUser] ([ID])
GO
/****** Object:  ForeignKey [FK__AppDept__AddUser__2A4B4B5E]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppDept]  WITH CHECK ADD FOREIGN KEY([AddUserID])
REFERENCES [dbo].[AppUser] ([ID])
GO
/****** Object:  ForeignKey [FK__AppDept__HeadID__29572725]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppDept]  WITH CHECK ADD FOREIGN KEY([HeadID])
REFERENCES [dbo].[AppUser] ([ID])
GO
/****** Object:  ForeignKey [FK__AppDept__PID__2B3F6F97]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppDept]  WITH CHECK ADD FOREIGN KEY([PID])
REFERENCES [dbo].[AppDept] ([ID])
GO
/****** Object:  ForeignKey [FK__AppUser__DeptID__33D4B598]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD FOREIGN KEY([DeptID])
REFERENCES [dbo].[AppDept] ([ID])
GO
/****** Object:  ForeignKey [FK__AppUser__RoleID__32E0915F]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[AppRole] ([ID])
GO
/****** Object:  ForeignKey [FK__AppDeptRo__DeptI__2F10007B]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppDeptRoleMenu]  WITH CHECK ADD FOREIGN KEY([DeptID])
REFERENCES [dbo].[AppDept] ([ID])
GO
/****** Object:  ForeignKey [FK__AppDeptRo__MenuI__2C3393D0]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppDeptRoleMenu]  WITH CHECK ADD FOREIGN KEY([MenuID])
REFERENCES [dbo].[AppMenu] ([ID])
GO
/****** Object:  ForeignKey [FK__AppDeptRo__MenuI__2D27B809]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppDeptRoleMenu]  WITH CHECK ADD FOREIGN KEY([MenuID])
REFERENCES [dbo].[AppMenu] ([ID])
GO
/****** Object:  ForeignKey [FK__AppDeptRo__RoleI__2E1BDC42]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppDeptRoleMenu]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[AppRole] ([ID])
GO
/****** Object:  ForeignKey [FK__AppConfig__Secti__286302EC]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppConfigSection]  WITH CHECK ADD FOREIGN KEY([SectionID])
REFERENCES [dbo].[AppConfigSection] ([ID])
GO
/****** Object:  ForeignKey [FK__AppDicIte__DicID__300424B4]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppDicItem]  WITH CHECK ADD FOREIGN KEY([DicID])
REFERENCES [dbo].[AppDic] ([ID])
GO
/****** Object:  ForeignKey [FK__AppConfig__Secti__276EDEB3]    Script Date: 03/27/2017 07:50:00 ******/
ALTER TABLE [dbo].[AppConfig]  WITH CHECK ADD FOREIGN KEY([SectionID])
REFERENCES [dbo].[AppConfigSection] ([ID])
GO
